{% extends 'haanoil/base.html' %}
{% load static %}

{% block content %}

<!--Jumbotron section STARTS-->
<div class="container-fluid" id="terminal">
    <div class="container">
        <div class="row hero-2">
            <div class="col-12" id="subheader-text">
                <h5>Terminals</h5>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron section ENDS-->


<!--Terminal section STARTS-->

<div class="container" id="terminal-body">
    <div class="row px-5 py-5">
        <div class="col-6">
            <h4>Rotterdam Oil Storage Terminal</h4>

            <hr>

            <p>GSS Baltic Logistics operats an oil terminal in the commercial sea port in the Netherlands.</p>

            <p>This terminal is equipped with ultra-modern facilities, which intake of crude oil and oil products from rail tank cars, marine tankers, and pipelines, each of our terminal is supported by our own up-to-date laboratory of oil products quality and quantity control.</p>

            <p>Our oil terminal serves as the theft of oil and oil tankers in our port of different operations, each of bunkering and oil sites is equipped with storage tanks of various capacities for storage of all types of petroleum including Jet Fuel, Diesel Gasoil, Ultra Low Sulfur, vapor generating capacity and technological pipelines for transportation of petroleum products between sites/tank and deliver it to tankers and bunkering vessels.</p>

            <p>Specialising in fuel oil and middle distillates, GSS Baltic Logistics offers more than 418,000 m³ capacity. Across its 18 tanks the terminal handles K1, K2 and K3 products including diesel gasoline, naphtha and jet fuel. GSS Baltic Logistics also means high performance, with its deep draft complemented by direct connections to truck, rail and the NATO pipeline system.</p>
        </div>

        <div class="col-6 pt-3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.152717228154!2d4.6426499759452735!3d51.78509497187785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c42f39199097e7%3A0x365f2aae6f0c4360!2sHaan%20Oil%20Storage%20B.V.!5e0!3m2!1sen!2sru!4v1714334866844!5m2!1sen!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </div>
</div>

<!--Terminal section ENDS-->



{% endblock %}